doctype html
html(lang="sv")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Password reset
  body
    h1 Hej #{name}!
    p Du har efterfrågat en lösenords återställning.
      div Klicka på länken för att komma till återställnings sidan.
      h2
        a(href=link) Länk

