doctype html
html(lang="sv")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Password har återställts
  body
    h1 Hej #{name}!
    p Hej #{name} ditt lösenord har återställts på #{host}